<!DOCTYPE html>
<html ng-app="app">
<title>Samcoin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script>
<script src="/angular.js"></script>

<body ng-controller="Controller">
  <!-- <header class="noPrint"> -->
  	<nav class="navbar navbar-default" role="navigation">
  		<div class="container">
  	    	<div class="navbar-header">
  	    	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
  	    	    <span class="sr-only">Toggle Navigation</span>
  	    	    <span class="icon-bar"></span>
  	    	    <span class="icon-bar"></span>
  	    	    <span class="icon-bar"></span>
  	    	  </button>
  	    	  <a class="navbar-brand logo" href="/">SAMCOIN</a>
  	    	</div>

  	    	<!-- Collect content for toggling -->
  	    	<div class="collapse navbar-collapse noPrint" id="main-nav">
  	    	  <ul class="nav navbar-nav navbar-right">
    					<li><a href="/trades/buy">Trade</a></li>
    					<li><a href="https://news.coinimal.com/">News</a></li>
    					<li><a href="/faq">FAQ</a></li>
    					<li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> &nbsp;Sign Up</a></li>
    					<li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Login</a></li>
		    	  </ul>
  	    	</div><!-- /.navbar-collapse -->
  	    </div>
  	</nav>

      <div class="container">
  <h2>Latest Blocks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Block #</th>
        <th>Date Added</th>
        <th>Transactions</th>
        <th>Amount Transferred</th>
      </tr>
    </thead>
    <tbody ng-repeat="block in blocks">
      <tr>
        <td>{{block.index}}</td>
        <td>{{date(block.timestamp)}}</td>
        <td>{{block.transactions.length}}</td>
        <td>{{getTotalTransactionAmount(block.transactions)}}</td>
      </tr>
    </tbody>
  </table>

<div class="jumbotron">
  <h2> Wallets</h2>
  <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card" ng-repeat="wallet in wallets">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{wallet.id}}" aria-expanded="true" aria-controls="collapseOne">
          {{wallet.id}}
        </a>
      </h5>
    </div>

    <div id="collapse{{wallet.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <table class="table table-striped">
          <tbody>
            <thead>
              <tr>
                <th>Addresses</th>
              </tr>
            </thead>
            <tr ng-repeat="address in wallet.addresses">
              <td>{{address}}</td>
              <td><p><a ng-click="mine(address)" class="btn btn-sm btn-success" href="#" role="button">Mine</a></p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><a ng-click="generateAddressForWallet(wallet.id, 'a b c d e')" class="btn btn-sm btn-success" href="#" role="button">Generate new address</a></p>
    </div>
  </div>
  <p><a ng-click="generateWallet(wallet.id, 'a b c d e')" class="btn btn-sm btn-success" href="#" role="button">Generate new wallet</a></p>
</div>

</div>
</div>




</body>
  <!-- </header> -->
